.gradle/
.idea/
build/
*.apk
*.iml
graldew
*.bat
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/build/
/captures
.externalNativeBuild
reinforce_window/jiagu.db
reinforce_window/tempAndroidManifest.xml
app/seeds.txt
app/unused.txt
/.idea/
